$icomoon-font-family: "aisxicon" !default;
$icomoon-font-path: "fonts" !default;

$icon-chart-pie: "\e946";
$icon-delete_3: "\e947";
$icon-delete: "\e948";
$icon-edit-favorite: "\e949";
$icon-gift: "\e94a";
$icon-ID-card: "\e94b";
$icon-move: "\e94c";
$icon-plus: "\e94d";
$icon-QR: "\e94e";
$icon-setting_2: "\e94f";
$icon-top: "\e950";
$icon-world: "\e951";
$icon-display: "\e940";
$icon-fillter: "\e941";
$icon-hide: "\e942";
$icon-icon: "\e943";
$icon-plus1: "\e944";
$icon-arrow_5_1: "\e93e";
$icon-arrow_5: "\e93f";
$icon-account: "\e900";
$icon-aisx: "\e901";
$icon-alphabe: "\e902";
$icon-anti-phishing-code: "\e903";
$icon-API: "\e904";
$icon-area: "\e905";
$icon-arrow_1_1: "\e906";
$icon-arrow_1: "\e907";
$icon-arrow_2_1: "\e908";
$icon-arrow_2_2: "\e909";
$icon-arrow_2: "\e90a";
$icon-arrow_3_1: "\e90b";
$icon-arrow_3: "\e90c";
$icon-arrow_4_1: "\e90d";
$icon-arrow_4_2: "\e90e";
$icon-bars: "\e90f";
$icon-calendar: "\e910";
$icon-candles: "\e911";
$icon-chart: "\e912";
$icon-close: "\e913";
$icon-coppy: "\e914";
$icon-deposit: "\e915";
$icon-diamond: "\e916";
$icon-email: "\e917";
$icon-ethereum: "\e918";
$icon-expad: "\e919";
$icon-export: "\e91a";
$icon-facebook: "\e91b";
$icon-favorites-2: "\e91c";
$icon-favorites: "\e91d";
$icon-Funds: "\e91e";
$icon-gainers: "\e91f";
$icon-get-reward: "\e920";
$icon-google-authen: "\e921";
$icon-google-plus: "\e922";
$icon-heikin-ashi: "\e923";
$icon-help: "\e924";
$icon-hollow-candles: "\e925";
$icon-key-pass: "\e926";
$icon-line: "\e927";
$icon-link: "\e928";
$icon-linkedin: "\e929";
$icon-login-password: "\e92a";
$icon-losers: "\e92b";
$icon-market: "\e92c";
$icon-nodata: "\e92d";
$icon-referral-program: "\e92e";
$icon-Search: "\e92f";
$icon-setting: "\e930";
$icon-shield: "\e931";
$icon-sign: "\e932";
$icon-sms-authen: "\e933";
$icon-Speaker: "\e934";
$icon-support: "\e935";
$icon-telegram: "\e936";
$icon-trades: "\e937";
$icon-transfer: "\e938";
$icon-twitter: "\e939";
$icon-user-2: "\e93a";
$icon-user: "\e93b";
$icon-withdrawal: "\e93c";
$icon-youtube: "\e93d";
$icon-delete_2: "\e945";

